@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  color: var(--primary-text-color);
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

h1 {
  font-family: "Poppins";
  font-size: 3rem;
  color: var(--primary-text-color);
  font-weight: bold;
}

h2 {
  font-family: "Poppins";
  font-size: 2rem;
  color: var(--primary-text-color);
}

h3 {
  font-family: "Poppins";
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

/* top navbar banner */
.top-banner {
  background-image: url("assets/asset\ 30.png");
  background-color: #4fb3d4;
  background-size: 300px;
}

.banner-text {
  padding: 15px 0px;
  text-align: center;
}

.small-bold-text {
  font-size: 1rem;
  font-weight: 900;
  color: white;
}

.nav-toggle {
  display: none;
}

/* main navbar */
.main-nav {
  justify-content: space-between;
  margin-top: 20px;
}

.company-logo {
  width: 200px;
}

.nav-links {
  justify-content: space-evenly;
  gap: 40px;
}

.nav-link {
  color: var(--primary-text-color);
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.hover-link:hover {
  color: var(--accent-color);
}

.primary-btn {
  background-color: #2294ed;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  padding: 12px 24px;
  transition: all 0.2s ease-in;
  text-decoration: none;
  text-align: center;
}

.primary-btn:hover {
  background-color: var(--accent-color-dark);
}

.secondary-btn {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  color: var(--primary-text-color);
  background-color: white;
  font-size: 1.1rem;
  padding: 12px 24px;
  font-weight: 700;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.secondary-btn:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* header */

header {
  padding: 50px var(--padding-inline-section) 0;
}

.header-section {
  gap: 50px;
}

.header-left {
  max-width: 40vw;
}

.get-started-btn {
  margin-top: 20px;
  border: none;
}

.header-right img {
  width: 100%;
}

/* company section */

.companies-header {
  text-align: center;
  margin-block: 30px;
  color: var(--primary-text-color);
}

.logos {
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.logos img {
  height: 50px;
}

/* features sections */

.feature-section {
  padding: 80px var(--padding-inline-section) 0;
  background-image: url("assets/asset\ 32.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feature-header h2 {
  margin-bottom: 20px;
}

.feature-header {
  text-align: center;
  margin-bottom: 40px;
}

.feature-area {
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.feature-card {
  flex-direction: column;
  gap: 20px;
  text-align: center;
  max-width: 30%;
}

/* big feature sections */
.big-feature-section {
  padding: 30px var(--padding-inline-section) 0;
}

.feature-img img {
  width: 100%;
}

.feature-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* example section */

.example-header {
  text-align: center;
}

.example-header h2 {
  margin-bottom: 20px;
}

.example-area {
  justify-content: space-between;
  margin-block: 30px;
  flex-wrap: wrap;
}

.example-card {
  width: 23%;
  height: 300px;
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.8)),
    url("./assets/asset\ 35.jpeg");
  position: relative;
  text-decoration: none;
  transition: all 0.4s ease;
}

.example-card:hover {
  scale: 1.02;
}

.card-text {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* cta section */

.cta-section {
  background-color: #183b54;
  padding: 120px var(--padding-inline-section) 80px;
}

.cta-section-container {
  flex-direction: column;
  gap: 20px;
}

.cta-section-container h2,
.cta-section-container p {
  color: white;
  margin: 15px;
}

/* footer */

footer {
  padding-block: 80px;
  background-color: #ebf2fa;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-container a img {
  width: 200px;
}

.link-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.link-column a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

/* sub footer */
.sub-footer {
  padding: var(--padding-inline-section);
  background-color: #b9cde4;
}

.sub-footer-container {
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.sub-footer-container a {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: all 0.4s ease;
}

/* utility classes */

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

.flex {
  display: flex;
  align-items: center;
}

@media (max-width: 990px) {
  h3 {
    font-size: 1.2rem;
  }

  .nav-links {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .example-area {
    gap: 20px;
  }

  .example-card {
    width: calc(50% - 10px);
    height: 200px;
  }
}

@media (max-width: 766px) {
  .header-section {
    flex-direction: column-reverse;
  }

  .header-left,
  .header-right {
    max-width: 100vw;
  }

  .primary-btn {
    width: 100%;
  }

  .feature-card {
    min-width: calc(50% - 10px);
  }

  .big-feature-container {
    flex-direction: column;
  }

  .id {
    flex-direction: column-reverse;
  }

  .example-header {
    margin-top: 30px;
  }

  .footer-container {
    flex-direction: column;
    gap: 40px;
    text-align: center;
    align-items: center;
  }

  .link-column {
    align-items: stretch;
  }
}

@media (max-width : 480px) {
  .example-card{
    width: 100%;
  } 

  .feature-card {
    min-width: 100%;
  }
}