@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  color: var(--primary-text-color);
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

h1 {
  font-family: "Poppins";
  font-size: 3rem;
  color: var(--primary-text-color);
  font-weight: bold;
}

h2 {
  font-family: "Poppins";
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

h3 {
  font-family: "Poppins";
  font-size: 1rem;
  color: var(--primary-text-color);
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

/* top navbar banner */
.top-banner {
  background-image: url("assets/asset\ 30.png");
  background-color: #4fb3d4;
  background-size: 300px;
}

.banner-text{
  padding: 15px 0px;
  text-align: center;
}

.small-bold-text {
  font-size: 1rem;
  font-weight: 900;
  color: white;
}

/* main navbar */
.main-nav {
  justify-content: space-between;
  margin-top: 20px;
}

.company-logo {
  width: 200px;
}

.nav-links {
  justify-content: space-evenly;
  gap: 40px;
}

.nav-link {
  color: var(--primary-text-color);
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.nav-link:hover {
  color: var(--accent-color);
}

.primary-btn {
  background-color: #2294ed;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  padding: 12px 24px;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.primary-btn:hover {
  background-color: var(--accent-color-dark);
}

.secondary-btn {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  color: var(--primary-text-color);
  background-color: white;
  font-size: 1.1rem;
  padding: 12px 24px;
  font-weight: 700;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.secondary-btn:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* header */

header{
  padding: 50px var(--padding-inline-section) 0;
}

.header-section{
  justify-content: center;
  gap: 50px;
}

.header-left {
  max-width: 40vw;
}

.get-started-btn{
  margin-top: 20px;
  border: none;
}

.header-right img {
  width: 100%;
}


/* company section */

.companies-header{
  text-align: center;
  margin-block: 30px;
  color: var(--primary-text-color);
}

.logos{
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.logos img{
  height: 50px;
}

/* utility classes */

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

.flex {
  display: flex;
  align-items: center;
}
