:root {
  --bg-primary-color: rgb(17, 17, 17);
  --bg-secondary-color: #222;

  --font-family : "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  --text-primary-color : #fff;

  /* margin */
  --m-2xs: 0.25rem; /* 4px */
  --m-xs: 0.5rem; /* 8px */
  --m-sm: 0.75rem; /* 12px */
  --m-md: 1rem; /* 16px */
  --m-lg: 1.5rem; /* 24px */
  --m-xl: 2rem; /* 32px */
  --m-2xl: 3rem; /* 48px */

  /* padding */
  --p-2xs: 0.25rem; /* 4px */
  --p-xs: 0.5rem; /* 8px */
  --p-sm: 0.75rem; /* 12px */
  --p-md: 1rem; /* 16px */
  --p-lg: 1.5rem; /* 24px */
  --p-xl: 2rem; /* 32px */
  --p-2xl: 3rem;

  /* radius border */
  --r-2xs: 0.125rem; /* 2px */
  --r-xs: 0.25rem; /* 4px */
  --r-sm: 0.375rem; /* 6px */
  --r-md: 0.5rem; /* 8px */
  --r-lg: 0.75rem; /* 12px */
  --r-xl: 1rem; /* 16px */
  --r-2xl: 1.5rem; /* 24px */
  --r-full: 9999px;

  --g-2xs: 0.25rem; /* 4px */
  --g-xs: 0.5rem; /* 8px */
  --g-sm: 0.75rem; /* 12px */
  --g-md: 1rem; /* 16px */
  --g-lg: 1.5rem; /* 24px */
  --g-xl: 2rem; /* 32px */
  --g-2xl: 3rem; /* 48px */
}
