* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --bg-primary: black;
  --bg-card: rgb(25, 25, 25);
  --bg-tasks-card: rgb(46, 46, 46);
  --bg-delete-btn: rgb(254, 89, 95);
  --bg-delete-btn-hover: rgb(254, 89, 95, 0.8);

  --text-primary: white;
  --text-task-description: rgb(173, 173, 173);

  --font-Add-new: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  /* padding */
  --p-2xs: 2px;
  --p-xs: 4px;
  --p-sm: 8px;
  --p-md: 12px;
  --p-lg: 16px;
  --p-xl: 24px;
  --p-2xl: 32px;
  --p-3xl: 48px;
}

body {
  background-color: var(--bg-primary);
  color: white;
}

main {
  width: 100%;
  height: 100%;
  padding: var(--p-xl);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  width: 100px;
  background-color: rgb(39, 39, 39);
  color: white;
  border: none;
  padding: var(--p-md) var(--p-sm);
  border-radius: 5px;
  font-size: small;
}

.board {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 15px;
}

.tasks-cols {
  flex-grow: 1;
  height: 100%;
  background-color: var(--bg-card);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: var(--p-md);
}

.tasks-cols-hover {
  border: 2px dashed white;
  scale: 1.03;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.task {
  background-color: var(--bg-tasks-card);
  padding: var(--p-md);
  border-radius: 10px;
  margin: 5px 0px;
}

.task-text p {
  margin-top: 5px;
  color: var(--text-task-description);
}

.task-delete-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.task-delete-btn button {
  background-color: var(--bg-delete-btn);
  color: white;
  border: none;
  border-radius: 5px;
  padding: var(--p-sm) var(--p-sm);
}

.task-delete-btn button:hover {
  background-color: var(--bg-delete-btn-hover);
}

/* add new task */

.new-task-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
  font-family: var(--font-Add-new);
  font-size: large;
  display: none;
}

.new-task-container-block {
  display: flex;
}

.new-task-form {
  background-color: rgb(30, 30, 30);
  padding: var(--p-2xl);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new-task-form div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.new-task-form div input, textarea{
  background-color: transparent;
  border: 1px solid gray;
  color: white;
  padding: var(--p-xs);
  font-family: var(--font-Add-new);
  font-size: medium;
  width: 100%;
}

#add-Submit {
  padding: var(--p-sm);
  width: 100%;
  background-color: transparent;
  color: white;
  font-family: var(--font-Add-new);
  cursor: pointer;
  font-size: large;
}

/* utils */
.cursor {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}
