* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #0a0a2a, #0c1546);
    font-family: monospace;
    color: white;
    height: 100vh;
}