* {
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: Verdana;
}

.background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.calculator {
  border: 2px solid rgb(128, 128, 128, 0.4);
  width: 500px;
  height: 700px;
  border-radius: 25px;
}

.screen {
  margin-left: 65px;
  margin-top: 35%;
  margin-bottom: 30px;
  margin-right: 50px;
  
  min-height: 52px;
  overflow: hidden;
  font-size: 43px;
  display: flex;
  justify-content: end;
}

.btn-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-row {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 40px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 100%;
  background-color: rgb(61, 61, 61);
  cursor: pointer;
  -webkit-user-select: none;
}

.sign {
  background-color: orange;
}
