*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #f4e4ba;
    /* background-color: black; */
}

main {
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* text area */
#amount{
    width: 100%;
    margin-top: 10px;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 20px;
    padding: 5px;
}

/* dropdown */
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.from div, .to div{
    padding-left: 6px;
    max-width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.from img, .to img{
    max-width: 1.75rem;
}

select{
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    outline: none;
}

/* exchange text */
.exchange{
    margin-top: 20px;
}


#submit-btn{
    border-radius: 0.75rem;
    border: none;
    outline: none;
    margin-top: 50px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}